h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather";
  color: #0a0a0a;
}

p {
  font-family: "Poppins";
  font-size: 16px;
  color: #383838;
  font-weight: 400;
  line-height: 150%;
  max-width: 800px;
}

 h1 {
  font-weight: 500;
  font-size: 48px;
  color: #0a0a0a;
  align-items: center;
  /* padding-bottom: 240px; */
 }
@media screen and (max-width: 768px){
  h1{
    font-size: 36px;
    align-items: center; 
    /* padding-bottom: 240px; */
 }
}  
h2 {
  display: flex;
  font-weight: 500;
  font-size: 39px;
  text-align: center;
  color: #0a0a0a;
  margin-left: 16px;
  margin-right: 16px;
}
/* @media (max-w) */
@media screen and (max-width: 768px){
  h2{
    font-size: 31px;
    padding-bottom: 24px;
    justify-content: center;
  
}
}


body{
  background-color: #c0c0c0;
  margin: 0px;
}
  @media screen and (max-width: 500px){
body{
  margin: 10px;
}
  }



.about-header {
  display: flex;
  justify-content: space-between;
  background-color: #c0c0c0; 
  padding-top: 56px; 
  height: 96px;
  padding-right: 80px;
  margin-bottom: 80px;
}

.topnav-right {
   display: flex;
  justify-content: center;
  width: 360px;
  height: 60px;
  padding-top: 44px;
  text-decoration: none;
}

.navi,.navi:hover{
  font-family: "Poppins";
  margin-right: 40px;
  text-decoration: none;
  color: #0a0a0a;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.navi:after{
  content: '';
  width: 0; height: 3px;
  display: block;
  margin-top: 0px;
  background: #e0ff4f;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.navi:hover:after{
  width: 100%;
  left: 0;
  background: #e0ff4f;
  color: #fff;
}
#my-logo{
  padding-top: 44px;
  padding-left: 60px;

}
 @media screen and (max-width:960px){
  #my-logo{
        padding-left: 20px;
        padding-top: 30px;
  }
} 
#my-logo a{
  width: 40px;
  color: #0a0a0a;
  text-decoration: none;
  font-size: 16px;
  padding-left: 60px;
  font-weight: 400;
}

.topnav-right, a{
  padding-left: 0px;
  text-decoration: none;
  font-family: "Poppins";
  color: #fff;
  font-size: 12px;
  margin-right: 0px;
}
.hamburger-icon {
  cursor: pointer;
  width: 30px;
  height:30px;
  padding-right: 0px;
  /* display: none to hide it on desktop*/
  display: none;
  margin-right: 0px;
  margin-top: 48px;   
}
@media screen and (max-width: 767px){
  .hamburger-icon{
    width: 28px;
    height: 28px;
    
  }
}

.hamburger-menu {
  background-color: rgb(0, 0, 0, 0.98);
  bottom: 300px;
  left: 60%;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  text-align: right;
  box-shadow: 0 6px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
@media (max-width:502px){
  .hamburger-menu{
    margin-top: 10px;
    margin-right: 10px;
  }
}

.hamburger-menu a {
  color: white;
  display: block;
  font-size: 16px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins";
}
.hamburger-menu a:hover{
  color: #fff;
border-bottom: 3px #e0ff4f solid;
padding: 0px;
width: 80px;
transition: 0.2s ease-in-out;
}
 
.menu-close {
  cursor: pointer;
  width: 24px;
  height: auto;
  padding-top: 28px;
  margin-right: 80px;
  z-index: 100;
  margin-top: 32px;
   margin-left: 85%;  
}

.menu-open {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 960px) {
  /* show the hamburger icon again*/
  .hamburger-icon {
    display: block;
    margin-top: 24px;
  }

.topnav-right {
  display: none;
}
}

.me{
  display: flex;
  max-width: 700px;
  justify-content:center;
  align-items: center; 
  height: 50px;
   padding: 40px; 
  margin: auto;
}


.history{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 996px;
  min-height: 440px;
  margin-top: 20px;
  margin:auto;
  padding:28px;
  background-color: #fff;
  box-shadow: 0 6px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
.history div{
  display: flex;
  justify-content: center;
}
@media (max-width:1080px){
  .history{
    margin: 20px;
  }
}
 .history:hover{
   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
  box-shadow: 6px 6px 99px 6px rgba(185, 231, 105, .15);
} 

@media screen and (max-width:960px){
  .history{
    margin-top: 40px;
  }
}
#about-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0c0c0;
}
#about-footer a{
  font-family: "Merryweather";
  color: #0a0a0a;
  font-size: 18px;
  padding-top: 20px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
#scratch{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:#c0c0c0;
}
#scratch p{
  font-family: "Merryweather";
}