h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
}

p {
  font-family: "Poppins";
  font-size: 16px;
  color: #383838;
  font-weight: 400;
  line-height: 150%;
  max-width: 700px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  color: #fff;
  z-index: 2;
  padding-top: 280px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 39px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-weight: 500;
  font-size: 39px;
  color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-weight: 500;
  font-size: 31px;
  color: #0a0a0a;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 25px;
  }
}
h4 {
  font-weight: 400;
  font-size: 25px;
  color: #0a0a0a;
  margin-bottom: 8px;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}
h5 {
  font-weight: 300;
  font-size: 20px;
  color: #0a0a0a;
}
@media screen and (max-width: 767px) {
  h5 {
    font-size: 18px;
    font-weight: 300;
  }
}
body {
  margin: 0px;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  body {
    margin: 10px;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 40px;
  z-index: 99;
  border: 1px solid #e0ff4f;
  outline: none;
  background-color: black;
  color: #e0ff4f;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.22);
}

#myBtn:hover {
  background-color: #555;
  border: 2px solid #e0ff4f;
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

.dan-header {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
  padding-top: 56px;
  background-image: url(../images/danbg.jpg);
  height: 640px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.topnav-right {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 60px;
  padding-right: 60px;
  padding-top: 44px;
  text-decoration: none;
}
#work {
  color: #e0ff4f;
}
.navi {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.navi,
.navi:hover {
  font-family: "Poppins";
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.navi:after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  margin-top: 0px;
  background: #e0ff4f;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.navi:hover:after {
  width: 100%;
  left: 0;
  background: #e0ff4f;
  color: #fff;
}
#my-logo {
  padding-top: 44px;
  padding-left: 60px;
  font-family: "poppins";
}

@media screen and (max-width: 960px) {
  #my-logo {
    padding-left: 20px;
    padding-top: 30px;
  }
}
#my-logo a {
  width: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 60px;
  font-weight: 400;
}

/* Hamburger Styles */
.hamburger-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding-right: 0px;
  /* display: none to hide it on desktop*/
  display: none;
  margin-right: 80px;
  margin-top: 48px;
}
@media screen and (max-width: 767px) {
  .hamburger-icon {
    width: 28px;
    height: 28px;
  }
}
.hamburger-menu {
  background-color: rgb(0, 0, 0, 0.98);
  bottom: 300px;
  left: 55%;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  text-align: right;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.22);
}
@media (max-width: 502px) {
  .hamburger-menu {
    margin-top: 10px;
    margin-right: 10px;
  }
}
.hamburger-menu a {
  color: white;
  display: block;
  font-size: 16px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins";
}
.hamburger-menu a:hover {
  color: #fff;
  border-bottom: 3px #e0ff4f solid;
  padding: 0px;
  width: 80px;
  transition: 0.2s ease-in-out;
}

.menu-close {
  cursor: pointer;
  width: 24px;
  height: auto;
  padding-top: 50px;
  margin-right: 60px;
  z-index: 100;
  margin-top: 32px;
  margin-left: 85%;
}

@media screen and (max-width: 767px) {
  .menu-close {
    width: 24px;
    margin-right: 140px;
  }
}

.menu-open {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 960px) {
  /* show the hamburger icon again*/
  .hamburger-icon {
    display: block;
    margin-top: 24px;
  }

  .topnav-right {
    display: none;
  }
}

.dan-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  height: 640px;
  margin-top: -640px;
}

.dan-project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 40px;
}

.dan-project h2 {
  padding-bottom: 16px;
  text-align: center;
  padding-top: 0px;
}

.dan-project-proto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dan-project-proto,
img {
  width: 250px;
  margin: auto;
}
.dan-project-proto a {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border: #e0ff4f 1px solid;
  text-align: center;
  height: 30px;
  width: 160px;
  margin: 0 auto;
  margin-top: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.22);
}
.dan-project-proto a:hover {
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  border-radius: 50px;
  border: 1px black solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.22);
  background-color: #e0ff4f;

  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}
.teams {
  display: flex;
  width: 80%;
  flex-direction: row;
  padding-top: 24px;
  justify-content: space-evenly;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .teams {
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
}

.tools img {
  width: 24px;
}
.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/dmshopper.png");
  width: 100%;
  height: 320px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.initial h2,
span {
  display: flex;
  color: #fff;
}
.initial span {
  width: 44%;
}
.dan {
  display: flex;
  justify-content: center;
}
.dmbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  flex-direction: column;
}
.dmbanner p {
  margin: auto;
}

.dmbanner img {
  padding-bottom: 24px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .dmbanner img {
    padding-bottom: 16px;
    width: 250px;
    margin: auto;
  }
}
.audience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin: auto;
  width: 100%;
}
.survey {
  margin-bottom: 24px;
  margin-top: 60px;
}
.survey p {
  margin-bottom: 0px;
}
.audience img {
  width: 150px;
}

.often {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.how {
  text-align: left;
  margin-bottom: 0px;
}

.often img {
  display: flex;
  width: 300px;
  margin: auto;
  margin-bottom: 0px;
}

.interviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 16px;
  flex-direction: column;
}
.interview-h3 {
  text-align: center;
}
.dminterview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}
.heard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.heard p {
  font-size: 12px;
  display: flex;
  color: #0a0a0a;
  width: 160px;
  height: 140px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 2px;
  align-items: center;
  text-align: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ededed+35,ededed+35,f3f3f3+50,ffffff+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 237, 237, 1) 35%,
    rgba(237, 237, 237, 1) 35%,
    rgba(243, 243, 243, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 237, 237, 1) 35%,
    rgba(237, 237, 237, 1) 35%,
    rgba(243, 243, 243, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 237, 237, 1) 35%,
    rgba(237, 237, 237, 1) 35%,
    rgba(243, 243, 243, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@media screen and (max-width: 767px) {
  .heard {
    flex-wrap: wrap;
  }
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 16px;
  flex-direction: column;
}
.affinity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}
/* .sticky img{
  width: 350px;
  display: flex;
  margin-bottom: 24px; 
} */

.icons-one,
.icons-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.icon img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin: 0 auto;
}

.span-icon {
  color: #383838;
  font-size: 12px;
  max-width: 80%;
  text-align: center;
  margin: auto;
}
.moment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 320px;
  background-image: url("../images/danbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 60px;
}
.aha-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  height: 400px;
}
.bulb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bulb h2 {
  z-index: 1;
  color: white;
}
.bulb img {
  margin: 0 auto;
  width: 100px;
}
.bulb span {
  color: #fff;
  width: 330px;
  margin: auto;
  text-align: center;
}

.task {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -120px;
}
.treecontainer {
  display: flex;
  position: relative;
  margin: auto;
}

.treejack {
  top: 0px;
  left: 50px;
  width: 390px;
  margin: auto;
}

.gif {
  display: flex;
  width: 310px;
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: 2;
}
.jack {
  margin-top: 20px;
}

.task {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .why.one{
  width: 280px;
  height: 140px;
   z-index: 200;
}  */

.why-one {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 400px;
  height: 100px;
  padding-top: 28px;
}
.why-one img {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
@media screen and (max-width: 650px) {
  .why-one {
    padding-bottom: -10px;
    padding-left: 30px;
  }
}
.why-two {
  display: flex;
  justify-content: space-between;
  width: 680px;
  height: 150px;
  padding-left: 0px;
  padding-top: 24px;
}
@media screen and (max-width: 767px) {
  .why-two {
    width: 420px;
  }
}
.why-two img {
  display: flex;
  justify-content: space-evenly;
  width: 160px;
}
@media screen and (max-width: 650px) {
  .why-two {
    margin-bottom: 88px;
    padding-right: 34px;
  }
}
.whyfour {
  padding-top: 16px;
}
@media screen and (max-width: 650px) {
  .why-four {
    margin-bottom: 8px;
    padding-right: 10px;
  }
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .rank {
    margin-top: 40px;
  }
}
.pulling {
  margin-bottom: 24px;
  justify-content: center;
}
.rank h4 {
  text-align: left;
}
.ia {
  width: 350px;
}
.data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
.data h2 {
  margin-bottom: 24px;
}
.cate img,
.josh img {
  display: flex;
  width: 380px;
}
@media screen and (max-width: 768px) {
  .cate img,
  .josh img {
    width: 200px;
  }
}

.cate,
.josh {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;
  margin: auto;
  padding-bottom: 8px;
}

.journey {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.journey h4 {
  margin-top: 24px;
}
.journey img {
  width: 500px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .journey img {
    width: 380px;
  }
}
.solution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 480px;
  background-image: url("../images/close-up-champagne-bubbles-glasses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.solution h2 {
  padding-top: 80px;
  color: #fff;
  margin-bottom: 24px;
}
.sol-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 480px;
}

.solution h4 {
  color: #fff;
  margin-top: 16px;
  text-align: center;
}

.solution span {
  max-width: 600px;
  margin: auto;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.solution img {
  width: 280px;
  padding-bottom: 80px;
}

.dmdesign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
.sketches h2 {
  text-align: center;
}
.sketch {
  width: 150px;
  margin: 0 auto;
}
.sketch img {
  width: 150px;
}

/* .sketches{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
} */
/* .one-sketch {
  width: 200px;
  height:300px;
} */

/* .dm-iterationone{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:768px){
  .dm-iterationone{
    flex-direction: column;
    margin-top: 32px;
  }
} */

/* .it-one li{
  width: 350px;
}
.discover-one{
  display: flex;
  width: 200px;
  height: 250px;
} */
/* .sketch p{
  margin: auto;
  max-width: 700px;
} */
.findings-one {
  padding-top: 24px;
}

.findings-two {
  padding-top: 0px;
}

.dan-first-it img {
  display: flex;
  justify-content: center;
}
.dan-first-it,
.dan-second-it {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;
  margin-top: 0px;
}
.dan-second-it {
  margin-bottom: 40px;
}
.dm-thumb-gallery-first,
.dm-thumb-gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  height: auto;
  margin-top: 0px;
}
.dm-thumb-gallery-first img,
.dm-thumb-gallery img {
  display: flex;
  justify-content: center;
  transition: 1s;
  border: 1px solid #c0c0c0;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 28px;
  width: 300px;
  height: auto;
}
@media (max-width: 767px) {
  .dm-thumb-gallery-first,
  .dm-thumb-gallery {
    flex-wrap: wrap;
  }
}
.dm-thumb-gallery-first img:hover,
.dm-thumb-gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.dm-thumb-gallery-first li,
.dm-thumb-gallery li {
  max-width: 700px;
  font-size: 16px;
  color: #383838;
}

/* .dm-iterationtwo-home{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
@media screen and (max-width:768px){
  .dm-iterationtwo-home{
    flex-direction: column;
    margin-top: 32px;
  }
}
.it-two-home li{
  width: 350px;
}
.second-iteration-home{
  display: flex;
  width: 200px;
  height: 250px;
}
.dm-iterationtwo-discover{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:768px){
  .dm-iterationtwo-discover{
    flex-direction: column;
  }
}
.it-two-discover li{
  width: 350px;
}
.second-iteration-discover{
  display: flex;
  width: 200px;
  height: 250px;
}
.dm-iterationtwo-recipe{
  display: flex;
  justify-content: center;
  align-items: center
}
@media screen and (max-width:768px){
  .dm-iterationtwo-recipe{
    flex-direction: column;
  }
}
.it-two-recipe li{
  width: 350px;
}
.second-iteration-recipe{
  display: flex;
  width: 200px;
  height: 250px;
}
.dm-iterationtwo-cocktail{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:768px){
  .dm-iterationtwo-cocktail{
    flex-direction: column;
  }
}
.it-two-cocktail li{
  width: 350px;
}
.second-iteration-cocktail{
  display: flex;
  width: 200px;
  height: 250px;
} */

.final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 480px;
  background-image: url("../images/champagne.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.final-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  height: 480px;
}

.finalproto h2 {
  text-align: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 0px;
  color: #fff;
}

#hificontainer {
  display: flex;
  position: relative;
  margin: auto;
}
.hifi {
  top: 0px;
  left: 50px;
  width: 390px;
  margin: auto;
}
.hifi-gif {
  display: flex;
  width: 310px;
  position: absolute;
  top: 12px;
  left: 40px;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.next h4 {
  margin-top: 24px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  background-color: #fff;
}

.take {
  margin-top: 16px;
  padding-bottom: 60px;
}
.thanks {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 0px;
  margin: auto;
}

#scratch {
  display: flex;
  justify-content: center;
  text-align: center;
}
#scratch p {
  font-family: "Merryweather";
}
