h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather";
}

p {
  font-family: "Poppins";
  font-size: 16px;
  color: #383838;
  font-weight: 300;
  line-height: 150%;
  /* width: 80%; */
}

 h1 {
  font-weight: 500;
  font-size: 48px;
  color: #0a0a0a;
}
@media screen and (max-width: 960px){
  h1 {
    font-size: 39px;
  }
}    

  @media screen and (max-width: 767px){
  h1 {
    font-size: 36px;
    text-align: center;
   }
} 

 
h2 {
  font-weight: 500;
  font-size: 39px;
  color: #0a0a0a;
}
 
@media screen and (max-width:960px){
  h2{
    font-size: 28px;
    align-items: center;
    margin-bottom: 0px;
  }
  } 

h3 {
  font-weight: 500;
  font-size: 31px;
  color: #0a0a0a;
}
@media screen and (max-width: 767px){
  h3{
    font-size: 25px;
}
}
h4 {
  font-weight: 400;
  font-size: 24px;
  color: #0a0a0a;
}
@media screen and (max-width:767px){
  h4{
    font-size: 20px;
  }
}
h5{
  font-weight: 300;
  font-size: 20px;
  color: #0a0a0a;
}
@media screen and (max-width: 767px){
  h5{
    font-size: 18px;
    font-weight: 300;
  }
}
body{
  margin: 0px;
 }
 @media screen and (max-width: 500px){
   body{
     margin: 10px;
   }
 }

.home-header {
  display: flex;
  justify-content: space-between;
   align-items: bottom; 
  background-color: #c0c0c0; 
  padding-top: 48px;
  height: 96px;
  padding-right: 80px;
  margin-bottom: 120px;
}


*{
  box-sizing: border-box;
}
#reveal{
  padding-bottom: 44px;
  padding-left: 120px;
  margin-right: 20px;
  font-family: "Poppins";
  color: #fff;
  overflow: hidden;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
#myIntro, #lowerIntro {
  overflow: hidden;
  height: 40px;
  line-height: 30px;
  width: 400px;
  font-weight: 700;
  margin-left: 0px;
}

#intro {
  font-size: 40px;
  font-family: "Poppins";
  text-transform: uppercase;
}

#line {
  width: 280px;
  margin-right: 120px;
  height: 3px;
  margin-top: -3px;
  margin-bottom: 1px;
  background: #e0ff4f;
}

.topnav-right {
   display: flex;
  justify-content: center;
  width: 360px;
  height: 60px; 
  padding-top: 44px;
  text-decoration: none;
}
.navi, .navi:hover{
  font-family: "Poppins";
  margin-right: 40px;
  text-decoration: none;
  color: #0a0a0a;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  
}
.navi:after{
  content: '';
  width: 0; height: 3px;
  display: block;
  margin-top: 0px;
  background: #e0ff4f;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.navi:hover:after{
  width: 100%;
  left: 0;
  background: #e0ff4f;
  color: #fff;
}
#my-logo{
  padding-top: 44px;
  padding-left: 60px;
}
@media screen and (max-width:960px){
  #my-logo{
    display: none;
  }
}
#my-logo a{
  width: 40px;
  color: #0a0a0a;
  text-decoration: none;
  font-size: 16px;
  padding-left: 60px;
  font-weight: 400;
}


.topnav-right, a{
  padding-left: 0px;
  text-decoration: none;
  font-family: "Poppins";
  color: #fff;
  font-size: 12px;
  margin-right: 0px;
}
/* Hamburger Styles */
.hamburger-icon {
  cursor: pointer;
  width: 30px;
  height:30px;
  padding-right: 0px;
  /* display: none to hide it on desktop*/
  display: none;
  margin-right: 0px;
  margin-top: 48px; 
}
 @media screen and (max-width: 768px){
  .hamburger-icon{
    width: 28px;
    height: 28px;
    
  }
} 
.hamburger-menu {
  background-color: rgb(0, 0, 0, 0.98);
  bottom: 300px;
  left: 60%;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  text-align: right;
  box-shadow: 0 6px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
@media (max-width:502px){
  .hamburger-menu{
    margin-top: 10px;
    margin-right: 10px;
  }
}

.hamburger-menu a {
  color: white;
  display: block;
  font-size: 16px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins";
}
.hamburger-menu a:hover{
  color: #fff;
  border-bottom: 3px #e0ff4f solid;
  padding: 0px;
  width: 80px;
  transition: 0.2s ease-in-out;
  }

.menu-close {
  cursor: pointer;
  width: 24px;
  padding-top: 50px;
  margin-right: 80px;
  z-index: 100;
  margin-top: 32px;
  margin-left: 85%; 
}
@media screen and (max-width:767px){
  .menu-close{
    width: 20px;
    margin-right: 140px;
  }
}
.menu-open {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 960px) {
  /* show the hamburger icon again*/
  .hamburger-icon {
    display: block;
    margin-top: 24px;
  }

.topnav-right {
  display: none;
}
}
 
body {
  background-color: #c0c0c0;
  margin: 0px;
  }
  @media screen and (max-width: 768px){
    body{
      margin: 10px;
    }
  }

.now img{
  display: flex;
} 

.initial {
  margin: auto;
} 

.current p{
  width: 60%;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.current h4{ 
  font-size: 20px;
  
}

.noddy{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px;
}

.nok {
   display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #fff;
  width: 996px;
  height: 440px;
  margin-top: 20px; 
   margin: 0 auto; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.nok:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width:768px){
  .nok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
   .nok-text{
    margin-left: 0px;
    width: 480px;
  } 
  .nok-mock{
    padding-left: 8px;
    width:120px;
    margin-right:80px;
  }
  @media screen and (max-width:768px){
    .nok-mock{
      margin-top: 40px;
    }
  }
  .nok-mock img{
    display: flex;
    justify-content: center;
    width: 180px;
    margin-right: 80px;
  }
  

.nok-read{
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  text-align: center;
  width: 140px;
  height: 30px;
   box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22); 
}


.nok-read:hover{
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  border-radius: 50px;
  border: 1px black solid;
  box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
  background-color: #e0ff4f;
  
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}
  


@media screen and (max-width:768px){
  .nok-read{
    margin: auto;
}
}

.luxury{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.lac {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 996px;
  height: 440px;
  margin-top: 20px;
   margin: auto; 
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.lac:hover{
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



  @media screen and (max-width:768px){
    .lac{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-bottom: 0px;
      padding-top: 80px;
    }
  }
  .lac-text{
    margin-left:0px;
    width: 480px;
  }
  .lac-mock{
    padding-left: 20px;
    width:180px;
  }
  @media screen and (max-width:768px){
    .lac-mock{
      padding-top: 20px;
     padding-bottom: 40px;
      margin-right: 20px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .lac-mock img{
    display: flex;
    justify-content: center;
    width: 160px;
    margin-right: 80px;
  }
  

.lac-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  text-align: center;
  width: 140px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
.lac-read:hover{
text-decoration: none;
color: #383838;
  font-weight: 700;
  border-radius: 50px;
border: 1px black solid;
box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
background-color: #e0ff4f;

-webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
-moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}
@media screen and (max-width:768px){
  .lac-read{
    margin: auto;
  }
}

.murphy{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.dan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 996px;
  height: 440px;
  margin-top: 80px; 
   margin: 0 auto ; 
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dan:hover{
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width:768px){
  .dan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.dan-text{
  margin-left: 0px;
  width: 480px;
} 

.dan-mock{
  padding-left: 8px;
  width:120px;
  margin-right:80px;
}
@media screen and (max-width:768px){
  .dan-mock{
    margin-top: 40px;
  }
}

.dan-mock img{
  display: flex;
  justify-content: center;
  width: 180px;
  margin-right: 80px;
}
@media screen and (max-width:768px){
  .dan-mock img{
    margin: auto;
   
  }
}
 
.dan-read {
  background-color: black;
  color: #e0ff4f;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border:  #e0ff4f 1px solid;
  text-align: center;
  width: 120px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
.dan-read:hover{
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  border-radius: 50px;
  border: 1px black solid;
  box-shadow: 0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
  background-color: #e0ff4f;
  
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  }

@media screen and (max-width:768px){
  .dan-read{
    margin: auto;
  }
}


.current{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
 }

 .upto{
  width: 996px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 440px;
  margin-top: 20px;
   margin: auto; 
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.upto:hover{
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  

.ui, .web, .side{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 196px;
  margin-left: 4px;
  margin-right: 4px;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: rgba(0,0,0,0.60);
  background-blend-mode: overlay;
  box-shadow: 0 6px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
}
@media screen and (max-width:640px){
  .ui, .web, .side{
height: 180px;

  }
}
@media screen and (max-width:640px){
.upto{
  /* flex-direction: column; */
flex-wrap: wrap;
}
}

.upto p, h4{
  color: white;
}

.ui{
  background-image: url(../images/ui\ design.jpeg);
}
.web{
  background-image: url(../images/code.png);
}
.side{
  background-image: url(../images/priscilla\ img.jpeg);
}


#main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0c0c0;
}

#main-footer a{
  font-family: "Merryweather";
  color: #0a0a0a;
  font-size: 18px;
  padding-top: 20px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
#scratch{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:#c0c0c0;
}
#scratch p{
  font-family: "Merryweather";
}